# Docs：https://mybatis-flex.com/zh/others/apt.html#%E9%85%8D%E7%BD%AE%E6%96%87%E4%BB%B6%E5%92%8C%E9%80%89%E9%A1%B9

# 全局启用apt开关
processor.enable=true
# 开启Mapper自动生成
processor.mapper.generateEnable=true
# 开启@Mapper注解
processor.mapper.annotation=true
# upperCase：大写 + 下划线，例如：USER_NAME
# lowerCase：小写 + 下划线，例如：user_name
# upperCamelCase：首字母大写的驼峰命名，例如：UserName
# lowerCamelCase：首字母小写的驼峰命名，例如：userName
processor.tableDef.propertiesNameStyle=upperCase

processor.tableDef.ignoreEntitySuffixes=DTO,VO