<!--
  ~ Copyright (c) 2024 Kong@杰少
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<!DOCTYPE mapper-->
<!--        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"-->
<!--        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">-->
<!--<mapper namespace="com.github.fank243.kong.oauth2.mapper.IOauthUserMapper">-->
<!--    <resultMap id="BaseResultMap" type="domain.com.github.fank243.kong.oauth2.OauthUserEntity">-->
<!--        <id column="user_id" jdbcType="INTEGER" property="userId"/>-->
<!--        <result column="username" jdbcType="VARCHAR" property="username"/>-->
<!--        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>-->
<!--        <result column="nickname" jdbcType="VARCHAR" property="nickname"/>-->
<!--        <result column="password" jdbcType="VARCHAR" property="password"/>-->
<!--        <result column="status" jdbcType="INTEGER" property="status"/>-->
<!--        <result column="login_err_count" jdbcType="INTEGER" property="loginErrCount"/>-->
<!--        <result column="login_lock_time" jdbcType="TIMESTAMP" property="loginLockTime"/>-->
<!--        <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime"/>-->
<!--        <result column="last_login_ip" jdbcType="VARCHAR" property="lastLoginIp"/>-->
<!--        <result column="is_deleted" jdbcType="INTEGER" property="isDeleted"/>-->
<!--        <result column="created_date" jdbcType="TIMESTAMP" property="createdDate"/>-->
<!--        <result column="last_modified_date" jdbcType="TIMESTAMP" property="lastModifiedDate"/>-->
<!--    </resultMap>-->

<!--    <sql id="TABLE_NAME">tb_oauth_user</sql>-->
<!--    <sql id="Base_Column_List">-->
<!--        `user_id`-->
<!--        ,`username`,`mobile`,`nickname`,`password`,`status`,`login_err_count`,`login_lock_time`,`last_login_time`,`last_login_ip`,`is_deleted`,`created_date`,`last_modified_date`-->
<!--    </sql>-->

<!--    <select id="findByUserId" resultMap="BaseResultMap">-->
<!--        select-->
<!--        <include refid="Base_Column_List"/>-->
<!--        from tb_oauth_user-->
<!--        <where>and user_id = #{userId} and is_deleted = false</where>-->
<!--    </select>-->

<!--    <select id="findByCondition" resultMap="BaseResultMap">-->
<!--        select-->
<!--        <include refid="Base_Column_List"/>-->
<!--        from tb_oauth_user-->
<!--        <where>-->
<!--            <if test="oauthUser.userId != null and oauthUser.userId != ''">-->
<!--                and user_id = #{oauthUser.userId,jdbcType=INTEGER}-->
<!--            </if>-->
<!--            <if test="oauthUser.username != null and oauthUser.username != ''">-->
<!--                and username = #{oauthUser.username,jdbcType=VARCHAR}-->
<!--            </if>-->
<!--            <if test="oauthUser.mobile != null and oauthUser.mobile != ''">-->
<!--                and mobile = #{oauthUser.mobile,jdbcType=VARCHAR}-->
<!--            </if>-->
<!--            <if test="oauthUser.nickname != null and oauthUser.nickname != ''">-->
<!--                and nickname = #{oauthUser.nickname,jdbcType=VARCHAR}-->
<!--            </if>-->
<!--            <if test="oauthUser.password != null and oauthUser.password != ''">-->
<!--                and password = #{oauthUser.password,jdbcType=VARCHAR}-->
<!--            </if>-->
<!--            <if test="oauthUser.status != null and oauthUser.status != ''">-->
<!--                and status = #{oauthUser.status,jdbcType=INTEGER}-->
<!--            </if>-->
<!--            <if test="oauthUser.loginErrCount != null and oauthUser.loginErrCount != ''">-->
<!--                and login_err_count = #{oauthUser.loginErrCount,jdbcType=INTEGER}-->
<!--            </if>-->
<!--            <if test="oauthUser.loginLockTime != null and oauthUser.loginLockTime != ''">-->
<!--                and login_lock_time = #{oauthUser.loginLockTime,jdbcType=TIMESTAMP}-->
<!--            </if>-->
<!--            <if test="oauthUser.lastLoginTime != null and oauthUser.lastLoginTime != ''">-->
<!--                and last_login_time = #{oauthUser.lastLoginTime,jdbcType=TIMESTAMP}-->
<!--            </if>-->
<!--            <if test="oauthUser.lastLoginIp != null and oauthUser.lastLoginIp != ''">-->
<!--                and last_login_ip = #{oauthUser.lastLoginIp,jdbcType=VARCHAR}-->
<!--            </if>-->
<!--            <if test="oauthUser.isDeleted != null and oauthUser.isDeleted != ''">-->
<!--                and is_deleted = #{oauthUser.isDeleted,jdbcType=INTEGER}-->
<!--            </if>-->
<!--            <if test="oauthUser.createdDate != null and oauthUser.createdDate != ''">-->
<!--                and created_date = #{oauthUser.createdDate,jdbcType=TIMESTAMP}-->
<!--            </if>-->
<!--            <if test="oauthUser.lastModifiedDate != null and oauthUser.lastModifiedDate != ''">-->
<!--                and last_modified_date = #{oauthUser.lastModifiedDate,jdbcType=TIMESTAMP}-->
<!--            </if>-->
<!--            and is_deleted = false-->
<!--        </where>-->
<!--        limit 1-->
<!--    </select>-->

<!--    <select id="findListByCondition" resultMap="BaseResultMap">-->
<!--        select-->
<!--        <include refid="Base_Column_List"/>-->
<!--        from tb_oauth_user-->
<!--        <where>-->
<!--            <if test="oauthUser.userId != null and oauthUser.userId != ''">-->
<!--                and user_id = #{oauthUser.userId,jdbcType=INTEGER}-->
<!--            </if>-->
<!--            <if test="oauthUser.username != null and oauthUser.username != ''">-->
<!--                and username = #{oauthUser.username,jdbcType=VARCHAR}-->
<!--            </if>-->
<!--            <if test="oauthUser.mobile != null and oauthUser.mobile != ''">-->
<!--                and mobile = #{oauthUser.mobile,jdbcType=VARCHAR}-->
<!--            </if>-->
<!--            <if test="oauthUser.nickname != null and oauthUser.nickname != ''">-->
<!--                and nickname = #{oauthUser.nickname,jdbcType=VARCHAR}-->
<!--            </if>-->
<!--            <if test="oauthUser.password != null and oauthUser.password != ''">-->
<!--                and password = #{oauthUser.password,jdbcType=VARCHAR}-->
<!--            </if>-->
<!--            <if test="oauthUser.status != null and oauthUser.status != ''">-->
<!--                and status = #{oauthUser.status,jdbcType=INTEGER}-->
<!--            </if>-->
<!--            <if test="oauthUser.loginErrCount != null and oauthUser.loginErrCount != ''">-->
<!--                and login_err_count = #{oauthUser.loginErrCount,jdbcType=INTEGER}-->
<!--            </if>-->
<!--            <if test="oauthUser.loginLockTime != null and oauthUser.loginLockTime != ''">-->
<!--                and login_lock_time = #{oauthUser.loginLockTime,jdbcType=TIMESTAMP}-->
<!--            </if>-->
<!--            <if test="oauthUser.lastLoginTime != null and oauthUser.lastLoginTime != ''">-->
<!--                and last_login_time = #{oauthUser.lastLoginTime,jdbcType=TIMESTAMP}-->
<!--            </if>-->
<!--            <if test="oauthUser.lastLoginIp != null and oauthUser.lastLoginIp != ''">-->
<!--                and last_login_ip = #{oauthUser.lastLoginIp,jdbcType=VARCHAR}-->
<!--            </if>-->
<!--            <if test="oauthUser.isDeleted != null and oauthUser.isDeleted != ''">-->
<!--                and is_deleted = #{oauthUser.isDeleted,jdbcType=INTEGER}-->
<!--            </if>-->
<!--            <if test="oauthUser.createdDate != null and oauthUser.createdDate != ''">-->
<!--                and created_date = #{oauthUser.createdDate,jdbcType=TIMESTAMP}-->
<!--            </if>-->
<!--            <if test="oauthUser.lastModifiedDate != null and oauthUser.lastModifiedDate != ''">-->
<!--                and last_modified_date = #{oauthUser.lastModifiedDate,jdbcType=TIMESTAMP}-->
<!--            </if>-->
<!--            and is_deleted = false-->
<!--        </where>-->
<!--    </select>-->
<!--</mapper>-->
