<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.fank243.study.system.mapper.ISysPermMapper">
    <resultMap id="BaseResultMap" type="com.github.fank243.study.system.entity.SysPermEntity">
        <id column="perm_id" jdbcType="INTEGER" property="permId"/>
        <result column="perm_pid" jdbcType="INTEGER" property="permPid"/>
        <result column="perm_code" jdbcType="VARCHAR" property="permCode"/>
        <result column="perm_uri" jdbcType="VARCHAR" property="permUri"/>
        <result column="perm_name" jdbcType="VARCHAR" property="permName"/>
        <result column="perm_desc" jdbcType="VARCHAR" property="permDesc"/>
        <result column="perm_type" jdbcType="BIT" property="permType"/>
        <result column="is_external" jdbcType="BIT" property="isExternal"/>
        <result column="status" jdbcType="BIT" property="status"/>
        <result column="created_by" jdbcType="VARCHAR" property="createdBy"/>
        <result column="created_date" jdbcType="TIMESTAMP" property="createdDate"/>
        <result column="last_modified_by" jdbcType="VARCHAR" property="lastModifiedBy"/>
        <result column="last_modified_date" jdbcType="TIMESTAMP" property="lastModifiedDate"/>
    </resultMap>

    <sql id="TABLE_NAME">tb_sys_perm</sql>
    <sql id="Base_Column_List">
        `perm_id`,`perm_pid`,`perm_code`,`perm_uri`,`perm_name`,`perm_desc`,`perm_type`,`is_external`,`status`,`created_by`,`created_date`,`last_modified_by`,`last_modified_date`
    </sql>

    <select id="findByPermId" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from tb_sys_perm <where> and perm_id = #{permId} </where>
    </select>

    <select id="findByCondition" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from tb_sys_perm
        <where>
            <if test="sysPerm.permId != null and sysPerm.permId != ''">
                and perm_id = #{sysPerm.permId,jdbcType=INTEGER}
            </if>
            <if test="sysPerm.permPid != null and sysPerm.permPid != ''">
                and perm_pid = #{sysPerm.permPid,jdbcType=INTEGER}
            </if>
            <if test="sysPerm.permCode != null and sysPerm.permCode != ''">
                and perm_code = #{sysPerm.permCode,jdbcType=VARCHAR}
            </if>
            <if test="sysPerm.permUri != null and sysPerm.permUri != ''">
                and perm_uri = #{sysPerm.permUri,jdbcType=VARCHAR}
            </if>
            <if test="sysPerm.permName != null and sysPerm.permName != ''">
                and perm_name = #{sysPerm.permName,jdbcType=VARCHAR}
            </if>
            <if test="sysPerm.permDesc != null and sysPerm.permDesc != ''">
                and perm_desc = #{sysPerm.permDesc,jdbcType=VARCHAR}
            </if>
            <if test="sysPerm.permType != null and sysPerm.permType != ''">
                and perm_type = #{sysPerm.permType,jdbcType=BIT}
            </if>
            <if test="sysPerm.isExternal != null and sysPerm.isExternal != ''">
                and is_external = #{sysPerm.isExternal,jdbcType=BIT}
            </if>
            <if test="sysPerm.status != null and sysPerm.status != ''">
                and status = #{sysPerm.status,jdbcType=BIT}
            </if>
            <if test="sysPerm.createdBy != null and sysPerm.createdBy != ''">
                and created_by = #{sysPerm.createdBy,jdbcType=VARCHAR}
            </if>
            <if test="sysPerm.createdDate != null and sysPerm.createdDate != ''">
                and created_date = #{sysPerm.createdDate,jdbcType=TIMESTAMP}
            </if>
            <if test="sysPerm.lastModifiedBy != null and sysPerm.lastModifiedBy != ''">
                and last_modified_by = #{sysPerm.lastModifiedBy,jdbcType=VARCHAR}
            </if>
            <if test="sysPerm.lastModifiedDate != null and sysPerm.lastModifiedDate != ''">
                and last_modified_date = #{sysPerm.lastModifiedDate,jdbcType=TIMESTAMP}
            </if>
            
        </where>
        limit 1
    </select>

    <select id="findListByCondition" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from tb_sys_perm
        <where>
            <if test="sysPerm.permId != null and sysPerm.permId != ''">
                and perm_id = #{sysPerm.permId,jdbcType=INTEGER}
            </if>
            <if test="sysPerm.permPid != null and sysPerm.permPid != ''">
                and perm_pid = #{sysPerm.permPid,jdbcType=INTEGER}
            </if>
            <if test="sysPerm.permCode != null and sysPerm.permCode != ''">
                and perm_code = #{sysPerm.permCode,jdbcType=VARCHAR}
            </if>
            <if test="sysPerm.permUri != null and sysPerm.permUri != ''">
                and perm_uri = #{sysPerm.permUri,jdbcType=VARCHAR}
            </if>
            <if test="sysPerm.permName != null and sysPerm.permName != ''">
                and perm_name = #{sysPerm.permName,jdbcType=VARCHAR}
            </if>
            <if test="sysPerm.permDesc != null and sysPerm.permDesc != ''">
                and perm_desc = #{sysPerm.permDesc,jdbcType=VARCHAR}
            </if>
            <if test="sysPerm.permType != null and sysPerm.permType != ''">
                and perm_type = #{sysPerm.permType,jdbcType=BIT}
            </if>
            <if test="sysPerm.isExternal != null and sysPerm.isExternal != ''">
                and is_external = #{sysPerm.isExternal,jdbcType=BIT}
            </if>
            <if test="sysPerm.status != null and sysPerm.status != ''">
                and status = #{sysPerm.status,jdbcType=BIT}
            </if>
            <if test="sysPerm.createdBy != null and sysPerm.createdBy != ''">
                and created_by = #{sysPerm.createdBy,jdbcType=VARCHAR}
            </if>
            <if test="sysPerm.createdDate != null and sysPerm.createdDate != ''">
                and created_date = #{sysPerm.createdDate,jdbcType=TIMESTAMP}
            </if>
            <if test="sysPerm.lastModifiedBy != null and sysPerm.lastModifiedBy != ''">
                and last_modified_by = #{sysPerm.lastModifiedBy,jdbcType=VARCHAR}
            </if>
            <if test="sysPerm.lastModifiedDate != null and sysPerm.lastModifiedDate != ''">
                and last_modified_date = #{sysPerm.lastModifiedDate,jdbcType=TIMESTAMP}
            </if>
            
        </where>
    </select>
</mapper>
