<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.fank243.study.support.mapper.ISupportSmsMapper">
    <resultMap id="BaseResultMap" type="com.github.fank243.study.support.entity.SupportSmsEntity">
        <id column="sms_id" jdbcType="INTEGER" property="smsId"/>
        <result column="msg_id" jdbcType="VARCHAR" property="msgId"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="created_date" jdbcType="TIMESTAMP" property="createdDate"/>
    </resultMap>

    <sql id="TABLE_NAME">tb_support_sms</sql>
    <sql id="Base_Column_List">
        `sms_id`,`msg_id`,`mobile`,`content`,`created_date`
    </sql>

    <select id="findBySmsId" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from tb_support_sms <where> and sms_id = #{smsId} </where>
    </select>

    <select id="findByCondition" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from tb_support_sms
        <where>
            <if test="supportSms.smsId != null and supportSms.smsId != ''">
                and sms_id = #{supportSms.smsId,jdbcType=INTEGER}
            </if>
            <if test="supportSms.msgId != null and supportSms.msgId != ''">
                and msg_id = #{supportSms.msgId,jdbcType=VARCHAR}
            </if>
            <if test="supportSms.mobile != null and supportSms.mobile != ''">
                and mobile = #{supportSms.mobile,jdbcType=VARCHAR}
            </if>
            <if test="supportSms.content != null and supportSms.content != ''">
                and content = #{supportSms.content,jdbcType=VARCHAR}
            </if>
            <if test="supportSms.createdDate != null and supportSms.createdDate != ''">
                and created_date = #{supportSms.createdDate,jdbcType=TIMESTAMP}
            </if>
            
        </where>
        limit 1
    </select>

    <select id="findListByCondition" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from tb_support_sms
        <where>
            <if test="supportSms.smsId != null and supportSms.smsId != ''">
                and sms_id = #{supportSms.smsId,jdbcType=INTEGER}
            </if>
            <if test="supportSms.msgId != null and supportSms.msgId != ''">
                and msg_id = #{supportSms.msgId,jdbcType=VARCHAR}
            </if>
            <if test="supportSms.mobile != null and supportSms.mobile != ''">
                and mobile = #{supportSms.mobile,jdbcType=VARCHAR}
            </if>
            <if test="supportSms.content != null and supportSms.content != ''">
                and content = #{supportSms.content,jdbcType=VARCHAR}
            </if>
            <if test="supportSms.createdDate != null and supportSms.createdDate != ''">
                and created_date = #{supportSms.createdDate,jdbcType=TIMESTAMP}
            </if>
            
        </where>
    </select>
</mapper>
