<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.fank243.study.support.mapper.ISupportAreaMapper">
    <resultMap id="BaseResultMap" type="com.github.fank243.study.support.entity.SupportAreaEntity">
        <id column="area_id" jdbcType="INTEGER" property="areaId"/>
        <result column="province_code" jdbcType="VARCHAR" property="provinceCode"/>
        <result column="province_name" jdbcType="VARCHAR" property="provinceName"/>
        <result column="city_code" jdbcType="VARCHAR" property="cityCode"/>
        <result column="city_name" jdbcType="VARCHAR" property="cityName"/>
        <result column="area_code" jdbcType="VARCHAR" property="areaCode"/>
        <result column="area_name" jdbcType="VARCHAR" property="areaName"/>
        <result column="created_by" jdbcType="VARCHAR" property="createdBy"/>
        <result column="created_date" jdbcType="TIMESTAMP" property="createdDate"/>
        <result column="last_modified_by" jdbcType="VARCHAR" property="lastModifiedBy"/>
        <result column="last_modified_date" jdbcType="TIMESTAMP" property="lastModifiedDate"/>
    </resultMap>

    <sql id="TABLE_NAME">tb_support_area</sql>
    <sql id="Base_Column_List">
        `area_id`,`province_code`,`province_name`,`city_code`,`city_name`,`area_code`,`area_name`,`created_by`,`created_date`,`last_modified_by`,`last_modified_date`
    </sql>

    <select id="findByAreaId" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from tb_support_area <where> and area_id = #{areaId} </where>
    </select>

    <select id="findByCondition" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from tb_support_area
        <where>
            <if test="supportArea.areaId != null and supportArea.areaId != ''">
                and area_id = #{supportArea.areaId,jdbcType=INTEGER}
            </if>
            <if test="supportArea.provinceCode != null and supportArea.provinceCode != ''">
                and province_code = #{supportArea.provinceCode,jdbcType=VARCHAR}
            </if>
            <if test="supportArea.provinceName != null and supportArea.provinceName != ''">
                and province_name = #{supportArea.provinceName,jdbcType=VARCHAR}
            </if>
            <if test="supportArea.cityCode != null and supportArea.cityCode != ''">
                and city_code = #{supportArea.cityCode,jdbcType=VARCHAR}
            </if>
            <if test="supportArea.cityName != null and supportArea.cityName != ''">
                and city_name = #{supportArea.cityName,jdbcType=VARCHAR}
            </if>
            <if test="supportArea.areaCode != null and supportArea.areaCode != ''">
                and area_code = #{supportArea.areaCode,jdbcType=VARCHAR}
            </if>
            <if test="supportArea.areaName != null and supportArea.areaName != ''">
                and area_name = #{supportArea.areaName,jdbcType=VARCHAR}
            </if>
            <if test="supportArea.createdBy != null and supportArea.createdBy != ''">
                and created_by = #{supportArea.createdBy,jdbcType=VARCHAR}
            </if>
            <if test="supportArea.createdDate != null and supportArea.createdDate != ''">
                and created_date = #{supportArea.createdDate,jdbcType=TIMESTAMP}
            </if>
            <if test="supportArea.lastModifiedBy != null and supportArea.lastModifiedBy != ''">
                and last_modified_by = #{supportArea.lastModifiedBy,jdbcType=VARCHAR}
            </if>
            <if test="supportArea.lastModifiedDate != null and supportArea.lastModifiedDate != ''">
                and last_modified_date = #{supportArea.lastModifiedDate,jdbcType=TIMESTAMP}
            </if>
            
        </where>
        limit 1
    </select>

    <select id="findListByCondition" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from tb_support_area
        <where>
            <if test="supportArea.areaId != null and supportArea.areaId != ''">
                and area_id = #{supportArea.areaId,jdbcType=INTEGER}
            </if>
            <if test="supportArea.provinceCode != null and supportArea.provinceCode != ''">
                and province_code = #{supportArea.provinceCode,jdbcType=VARCHAR}
            </if>
            <if test="supportArea.provinceName != null and supportArea.provinceName != ''">
                and province_name = #{supportArea.provinceName,jdbcType=VARCHAR}
            </if>
            <if test="supportArea.cityCode != null and supportArea.cityCode != ''">
                and city_code = #{supportArea.cityCode,jdbcType=VARCHAR}
            </if>
            <if test="supportArea.cityName != null and supportArea.cityName != ''">
                and city_name = #{supportArea.cityName,jdbcType=VARCHAR}
            </if>
            <if test="supportArea.areaCode != null and supportArea.areaCode != ''">
                and area_code = #{supportArea.areaCode,jdbcType=VARCHAR}
            </if>
            <if test="supportArea.areaName != null and supportArea.areaName != ''">
                and area_name = #{supportArea.areaName,jdbcType=VARCHAR}
            </if>
            <if test="supportArea.createdBy != null and supportArea.createdBy != ''">
                and created_by = #{supportArea.createdBy,jdbcType=VARCHAR}
            </if>
            <if test="supportArea.createdDate != null and supportArea.createdDate != ''">
                and created_date = #{supportArea.createdDate,jdbcType=TIMESTAMP}
            </if>
            <if test="supportArea.lastModifiedBy != null and supportArea.lastModifiedBy != ''">
                and last_modified_by = #{supportArea.lastModifiedBy,jdbcType=VARCHAR}
            </if>
            <if test="supportArea.lastModifiedDate != null and supportArea.lastModifiedDate != ''">
                and last_modified_date = #{supportArea.lastModifiedDate,jdbcType=TIMESTAMP}
            </if>
            
        </where>
    </select>
</mapper>
