<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2024 Kong@杰少
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.fank243.kong.support.mapper.IFileMapper">
    <resultMap id="BaseResultMap" type="domain.com.github.fank243.kong.support.FileEntity">
        <id column="file_id" jdbcType="INTEGER" property="fileId"/>
        <result column="file_name" jdbcType="VARCHAR" property="fileName"/>
        <result column="mine_type" jdbcType="VARCHAR" property="mineType"/>
        <result column="file_type" jdbcType="VARCHAR" property="fileType"/>
        <result column="file_prefix" jdbcType="VARCHAR" property="filePrefix"/>
        <result column="file_path" jdbcType="VARCHAR" property="filePath"/>
        <result column="file_size" jdbcType="INTEGER" property="fileSize"/>
        <result column="file_md5" jdbcType="VARCHAR" property="fileMd5"/>
        <result column="created_by" jdbcType="VARCHAR" property="createdBy"/>
        <result column="created_date" jdbcType="TIMESTAMP" property="createdDate"/>
        <result column="last_modified_by" jdbcType="VARCHAR" property="lastModifiedBy"/>
        <result column="last_modified_date" jdbcType="TIMESTAMP" property="lastModifiedDate"/>
    </resultMap>

    <!-- 表名 -->
    <sql id="TABLE_NAME">tb_file</sql>

    <!-- 所有字段 -->
    <sql id="Base_Column_List">
        `file_id`,`file_name`,`mine_type`,`file_type`,`file_prefix`,`file_path`,`file_size`,`file_md5`,`created_by`,`created_date`,`last_modified_by`,`last_modified_date`
    </sql>

    <!-- 通用查询条件 -->
    <sql id="WHERE_FILE">
            <if test="file.fileId != null and file.fileId != ''">
                and file_id = #{params.fileId,jdbcType=INTEGER}
            </if>
            <if test="file.fileName != null and file.fileName != ''">
                and file_name = #{params.fileName,jdbcType=VARCHAR}
            </if>
            <if test="file.mineType != null and file.mineType != ''">
                and mine_type = #{params.mineType,jdbcType=VARCHAR}
            </if>
            <if test="file.fileType != null and file.fileType != ''">
                and file_type = #{params.fileType,jdbcType=VARCHAR}
            </if>
            <if test="file.filePrefix != null and file.filePrefix != ''">
                and file_prefix = #{params.filePrefix,jdbcType=VARCHAR}
            </if>
            <if test="file.filePath != null and file.filePath != ''">
                and file_path = #{params.filePath,jdbcType=VARCHAR}
            </if>
            <if test="file.fileSize != null and file.fileSize != ''">
                and file_size = #{params.fileSize,jdbcType=INTEGER}
            </if>
            <if test="file.fileMd5 != null and file.fileMd5 != ''">
                and file_md5 = #{params.fileMd5,jdbcType=VARCHAR}
            </if>
            <if test="file.createdBy != null and file.createdBy != ''">
                and created_by = #{params.createdBy,jdbcType=VARCHAR}
            </if>
            <if test="file.createdDate != null and file.createdDate != ''">
                and created_date = #{params.createdDate,jdbcType=TIMESTAMP}
            </if>
            <if test="file.lastModifiedBy != null and file.lastModifiedBy != ''">
                and last_modified_by = #{params.lastModifiedBy,jdbcType=VARCHAR}
            </if>
            <if test="file.lastModifiedDate != null and file.lastModifiedDate != ''">
                and last_modified_date = #{params.lastModifiedDate,jdbcType=TIMESTAMP}
            </if>
        
    </sql>

    <!-- 排序 -->
    <sql id="SORT_FILE">
        <if test="params.columnSortList != null and params.columnSortList.size() > 0">
          order by
          <foreach collection="params.columnSortList" item="item" separator=",">
              #{item.sortColumn} #{item.sortType}
          </foreach>
      </if>
    </sql>

     <!-- 根据主键查询 -->
    <select id="findByFileId" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from tb_file <where> and file_id = #{fileId} </where>
    </select>

    <!-- 多条件查询(单条记录) -->
    <select id="findByCondition" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_file
        <where>
           <include refid="WHERE_FILE"/>
        </where>
        <include refid="SORT_FILE"/>
        limit 1
    </select>

    <!-- 多条件查询(多条记录) -->
    <select id="findListByCondition" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_file
        <where>
            <include refid="WHERE_FILE"/>
        </where>
        <include refid="SORT_FILE"/>
    </select>
</mapper>
