<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.fank243.study.oauth2.mapper.IOauthAccessTokenMapper">
    <resultMap id="BaseResultMap" type="com.github.fank243.study.oauth2.entity.OauthAccessTokenEntity">
        <id column="token_id" jdbcType="VARCHAR" property="tokenId"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="open_id" jdbcType="VARCHAR" property="openId"/>
    </resultMap>

    <sql id="TABLE_NAME">tb_oauth_access_token</sql>
    <sql id="Base_Column_List">
        `token_id`,`user_id`,`open_id`
    </sql>

    <select id="findByTokenId" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from tb_oauth_access_token <where> and token_id = #{tokenId} </where>
    </select>

    <select id="findByCondition" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from tb_oauth_access_token
        <where>
            <if test="oauthAccessToken.tokenId != null and oauthAccessToken.tokenId != ''">
                and token_id = #{oauthAccessToken.tokenId,jdbcType=VARCHAR}
            </if>
            <if test="oauthAccessToken.userId != null and oauthAccessToken.userId != ''">
                and user_id = #{oauthAccessToken.userId,jdbcType=INTEGER}
            </if>
            <if test="oauthAccessToken.openId != null and oauthAccessToken.openId != ''">
                and open_id = #{oauthAccessToken.openId,jdbcType=VARCHAR}
            </if>
            
        </where>
        limit 1
    </select>

    <select id="findListByCondition" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from tb_oauth_access_token
        <where>
            <if test="oauthAccessToken.tokenId != null and oauthAccessToken.tokenId != ''">
                and token_id = #{oauthAccessToken.tokenId,jdbcType=VARCHAR}
            </if>
            <if test="oauthAccessToken.userId != null and oauthAccessToken.userId != ''">
                and user_id = #{oauthAccessToken.userId,jdbcType=INTEGER}
            </if>
            <if test="oauthAccessToken.openId != null and oauthAccessToken.openId != ''">
                and open_id = #{oauthAccessToken.openId,jdbcType=VARCHAR}
            </if>
            
        </where>
    </select>
</mapper>
