<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.fank243.study.oauth2.mapper.IOauthClientMapper">
    <resultMap id="BaseResultMap" type="com.github.fank243.study.oauth2.entity.OauthClientEntity">
        <id column="client_id" jdbcType="VARCHAR" property="clientId"/>
        <result column="client_secret" jdbcType="VARCHAR" property="clientSecret"/>
        <result column="resource_ids" jdbcType="VARCHAR" property="resourceIds"/>
        <result column="scope" jdbcType="VARCHAR" property="scope"/>
        <result column="grant_types" jdbcType="VARCHAR" property="grantTypes"/>
        <result column="redirect_url" jdbcType="VARCHAR" property="redirectUrl"/>
        <result column="additional_information" jdbcType="VARCHAR" property="additionalInformation"/>
    </resultMap>

    <sql id="TABLE_NAME">tb_oauth_client</sql>
    <sql id="Base_Column_List">
        `client_id`,`client_secret`,`resource_ids`,`scope`,`grant_types`,`redirect_url`,`additional_information`
    </sql>

    <select id="findByClientId" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from tb_oauth_client <where> and client_id = #{clientId} </where>
    </select>

    <select id="findByCondition" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from tb_oauth_client
        <where>
            <if test="oauthClient.clientId != null and oauthClient.clientId != ''">
                and client_id = #{oauthClient.clientId,jdbcType=VARCHAR}
            </if>
            <if test="oauthClient.clientSecret != null and oauthClient.clientSecret != ''">
                and client_secret = #{oauthClient.clientSecret,jdbcType=VARCHAR}
            </if>
            <if test="oauthClient.resourceIds != null and oauthClient.resourceIds != ''">
                and resource_ids = #{oauthClient.resourceIds,jdbcType=VARCHAR}
            </if>
            <if test="oauthClient.scope != null and oauthClient.scope != ''">
                and scope = #{oauthClient.scope,jdbcType=VARCHAR}
            </if>
            <if test="oauthClient.grantTypes != null and oauthClient.grantTypes != ''">
                and grant_types = #{oauthClient.grantTypes,jdbcType=VARCHAR}
            </if>
            <if test="oauthClient.redirectUrl != null and oauthClient.redirectUrl != ''">
                and redirect_url = #{oauthClient.redirectUrl,jdbcType=VARCHAR}
            </if>
            <if test="oauthClient.additionalInformation != null and oauthClient.additionalInformation != ''">
                and additional_information = #{oauthClient.additionalInformation,jdbcType=VARCHAR}
            </if>
            
        </where>
        limit 1
    </select>

    <select id="findListByCondition" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from tb_oauth_client
        <where>
            <if test="oauthClient.clientId != null and oauthClient.clientId != ''">
                and client_id = #{oauthClient.clientId,jdbcType=VARCHAR}
            </if>
            <if test="oauthClient.clientSecret != null and oauthClient.clientSecret != ''">
                and client_secret = #{oauthClient.clientSecret,jdbcType=VARCHAR}
            </if>
            <if test="oauthClient.resourceIds != null and oauthClient.resourceIds != ''">
                and resource_ids = #{oauthClient.resourceIds,jdbcType=VARCHAR}
            </if>
            <if test="oauthClient.scope != null and oauthClient.scope != ''">
                and scope = #{oauthClient.scope,jdbcType=VARCHAR}
            </if>
            <if test="oauthClient.grantTypes != null and oauthClient.grantTypes != ''">
                and grant_types = #{oauthClient.grantTypes,jdbcType=VARCHAR}
            </if>
            <if test="oauthClient.redirectUrl != null and oauthClient.redirectUrl != ''">
                and redirect_url = #{oauthClient.redirectUrl,jdbcType=VARCHAR}
            </if>
            <if test="oauthClient.additionalInformation != null and oauthClient.additionalInformation != ''">
                and additional_information = #{oauthClient.additionalInformation,jdbcType=VARCHAR}
            </if>
            
        </where>
    </select>
</mapper>
