<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2024 Kong@杰少
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.fank243.kong.system.mapper.ISysRoleMapper">
    <resultMap id="BaseResultMap" type="domain.com.github.fank243.kong.system.SysRoleEntity">
        <id column="role_id" jdbcType="INTEGER" property="roleId"/>
        <result column="role_code" jdbcType="VARCHAR" property="roleCode"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
        <result column="role_desc" jdbcType="VARCHAR" property="roleDesc"/>
        <result column="status" jdbcType="BIT" property="status"/>
        <result column="is_deleted" jdbcType="INTEGER" property="isDeleted"/>
        <result column="created_by" jdbcType="VARCHAR" property="createdBy"/>
        <result column="created_date" jdbcType="TIMESTAMP" property="createdDate"/>
        <result column="last_modified_by" jdbcType="VARCHAR" property="lastModifiedBy"/>
        <result column="last_modified_date" jdbcType="TIMESTAMP" property="lastModifiedDate"/>
    </resultMap>

    <!-- 表名 -->
    <sql id="TABLE_NAME">tb_sys_role</sql>

    <!-- 所有字段 -->
    <sql id="Base_Column_List">
        `role_id`,`role_code`,`role_name`,`role_desc`,`status`,`is_deleted`,`created_by`,`created_date`,`last_modified_by`,`last_modified_date`
    </sql>

    <!-- 通用查询条件 -->
    <sql id="WHERE_SYS_ROLE">
            <if test="sysRole.roleId != null and sysRole.roleId != ''">
                and role_id = #{params.roleId,jdbcType=INTEGER}
            </if>
            <if test="sysRole.roleCode != null and sysRole.roleCode != ''">
                and role_code = #{params.roleCode,jdbcType=VARCHAR}
            </if>
            <if test="sysRole.roleName != null and sysRole.roleName != ''">
                and role_name = #{params.roleName,jdbcType=VARCHAR}
            </if>
            <if test="sysRole.roleDesc != null and sysRole.roleDesc != ''">
                and role_desc = #{params.roleDesc,jdbcType=VARCHAR}
            </if>
            <if test="sysRole.status != null and sysRole.status != ''">
                and status = #{params.status,jdbcType=BIT}
            </if>
            <if test="sysRole.isDeleted != null and sysRole.isDeleted != ''">
                and is_deleted = #{params.isDeleted,jdbcType=INTEGER}
            </if>
            <if test="sysRole.createdBy != null and sysRole.createdBy != ''">
                and created_by = #{params.createdBy,jdbcType=VARCHAR}
            </if>
            <if test="sysRole.createdDate != null and sysRole.createdDate != ''">
                and created_date = #{params.createdDate,jdbcType=TIMESTAMP}
            </if>
            <if test="sysRole.lastModifiedBy != null and sysRole.lastModifiedBy != ''">
                and last_modified_by = #{params.lastModifiedBy,jdbcType=VARCHAR}
            </if>
            <if test="sysRole.lastModifiedDate != null and sysRole.lastModifiedDate != ''">
                and last_modified_date = #{params.lastModifiedDate,jdbcType=TIMESTAMP}
            </if>
         and is_deleted = false
    </sql>

    <!-- 排序 -->
    <sql id="SORT_SYS_ROLE">
        <if test="params.columnSortList != null and params.columnSortList.size() > 0">
          order by
          <foreach collection="params.columnSortList" item="item" separator=",">
              #{item.sortColumn} #{item.sortType}
          </foreach>
      </if>
    </sql>

     <!-- 根据主键查询 -->
    <select id="findByRoleId" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from tb_sys_role <where> and role_id = #{roleId}  and is_deleted = false </where>
    </select>

    <!-- 多条件查询(单条记录) -->
    <select id="findByCondition" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_sys_role
        <where>
           <include refid="WHERE_SYS_ROLE"/>
        </where>
        <include refid="SORT_SYS_ROLE"/>
        limit 1
    </select>

    <!-- 多条件查询(多条记录) -->
    <select id="findListByCondition" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_sys_role
        <where>
            <include refid="WHERE_SYS_ROLE"/>
        </where>
        <include refid="SORT_SYS_ROLE"/>
    </select>
</mapper>
