<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2024 Kong@杰少
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.fank243.kong.system.mapper.ISysUserLoginLogMapper">
    <resultMap id="BaseResultMap" type="domain.com.github.fank243.kong.system.SysUserLoginLogEntity">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="login_time" jdbcType="TIMESTAMP" property="loginTime"/>
        <result column="login_ip" jdbcType="VARCHAR" property="loginIp"/>
        <result column="login_device" jdbcType="VARCHAR" property="loginDevice"/>
    </resultMap>

    <!-- 表名 -->
    <sql id="TABLE_NAME">tb_sys_user_login_log</sql>

    <!-- 所有字段 -->
    <sql id="Base_Column_List">
        `id`,`user_id`,`login_time`,`login_ip`,`login_device`
    </sql>

    <!-- 通用查询条件 -->
    <sql id="WHERE_SYS_USER_LOGIN_LOG">
            <if test="sysUserLoginLog.id != null and sysUserLoginLog.id != ''">
                and id = #{params.id,jdbcType=INTEGER}
            </if>
            <if test="sysUserLoginLog.userId != null and sysUserLoginLog.userId != ''">
                and user_id = #{params.userId,jdbcType=INTEGER}
            </if>
            <if test="sysUserLoginLog.loginTime != null and sysUserLoginLog.loginTime != ''">
                and login_time = #{params.loginTime,jdbcType=TIMESTAMP}
            </if>
            <if test="sysUserLoginLog.loginIp != null and sysUserLoginLog.loginIp != ''">
                and login_ip = #{params.loginIp,jdbcType=VARCHAR}
            </if>
            <if test="sysUserLoginLog.loginDevice != null and sysUserLoginLog.loginDevice != ''">
                and login_device = #{params.loginDevice,jdbcType=VARCHAR}
            </if>
        
    </sql>

    <!-- 排序 -->
    <sql id="SORT_SYS_USER_LOGIN_LOG">
        <if test="params.columnSortList != null and params.columnSortList.size() > 0">
          order by
          <foreach collection="params.columnSortList" item="item" separator=",">
              #{item.sortColumn} #{item.sortType}
          </foreach>
      </if>
    </sql>

     <!-- 根据主键查询 -->
    <select id="findById" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from tb_sys_user_login_log <where> and id = #{id} </where>
    </select>

    <!-- 多条件查询(单条记录) -->
    <select id="findByCondition" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_sys_user_login_log
        <where>
           <include refid="WHERE_SYS_USER_LOGIN_LOG"/>
        </where>
        <include refid="SORT_SYS_USER_LOGIN_LOG"/>
        limit 1
    </select>

    <!-- 多条件查询(多条记录) -->
    <select id="findListByCondition" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_sys_user_login_log
        <where>
            <include refid="WHERE_SYS_USER_LOGIN_LOG"/>
        </where>
        <include refid="SORT_SYS_USER_LOGIN_LOG"/>
    </select>
</mapper>
